  header {
    text-align: center;
    padding: 5px; 
    background-color: rgb(228, 182, 167);
    color: white;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: DarkSalmon;
    color: white;
  }
  
  section {
    margin: 20px;
  }

  .contenedor-datos-personales {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 .imagen-principal {
    width: 200px;
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
  }
  
  
  .titulo-seccion {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
  }
  
  .dato {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .dato span {
    flex-basis: 200px;
    font-weight: bold;
  }
  
  .dato a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
  }
  
  
  .contenedor-secciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #experiencia-laboral,
  #capacitaciones {
    flex-basis: 48%;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  li::before {
    content: "→ ";
  }
  
  .tabla {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 70%;
    padding: 40px;
 
  }
  
  .fila {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .encabezado {
    font-weight: bold;
    background-color: #eee;
  }
  
  .columna {
    flex: 1;
    text-align: center;
  }
  
  
